<mat-card fxFlex="350px" fxLayout="column" class="leftSidebar">
    <mat-card-title> {{ 'SIDEBAR.ROSTER' | translate: lang }}</mat-card-title>
    <mat-card-subtitle>{{ 'SIDEBAR.ROSTER_FOR' | translate: lang }}:</mat-card-subtitle>
  <mat-list role="list">
      <mat-list-item role="listitem">
          {{ 'DASHBOARD.YOUR_ARMY_IS' | translate: lang }} : UCM
      </mat-list-item>
      <mat-list-item role="listitem">
          {{ 'DASHBOARD.GAME_SIZE' | translate: lang }} :
      </mat-list-item>
      <mat-list-item role="listitem">
          {{ 'DASHBOARD.YOUR_CURRENT_PTS' | translate: lang }} :
      </mat-list-item>
    </mat-list>
</mat-card>
